<div>
    <span>Grupo</span>
    <select>
        <option>Grupo 1</option>
    </select>

    <span>Participante</span>
    <select>
        <option>Participante 1</option>
        <option>Participante 2</option>
    </select>
</div>
<div class="grid-container" >
    <div class="grid-item">
        <ul>
            <li>Oraculo</li>
            <li>Juglar</li>
            <li>Arqueologo</li>
        </ul>
    </div>
    <div class="grid-item">
        <p>Escribe una novela basado en el mundo del juego, gana un nobel y conviertete en multimillonario</p>
        <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
        </select>
        <button>OK</button>
    </div>
</div>