<div>
    <span>Grupo</span>
    <select [(ngModel)] = "selectedGroup" (change)="onSelectChange()">
        <option [value]="group.name" *ngFor="let group of groupList">{{group.name}}</option>
    </select>

    <span>Participante</span>
    <select [(ngModel)] = "selectedParticipant" (change)="onParticipantChange()">
        <option [value]="p.username" *ngFor="let p of participantsList">{{p.shownName}}</option>
    </select>
</div>

<p>{{msn}}</p>
<div class="grid-container" >
    <div class="grid-item">
        <ul>
            <li *ngFor = 'let c of challengesList'><span (click) = 'onChallengeClick(c.text, c._id, c.points)'>{{c.type}}</span></li>
        </ul>
    </div>
    <div class="grid-item" *ngIf='isSelected'>
        <p>{{challengeText}}</p>
        <p>{{msn2}}</p>
        <select [(ngModel)] = "selectedGrade">
            <option>10</option>
            <option>15</option>
            <option>20</option>
        </select>
        <button (click)='onGrade()'>OK</button>
    </div>
</div>