<a routerLink="/principal">Volver</a>
<h2>Crear un nuevo grupo</h2>
<input type="text" [(ngModel)]="groupName" placeholder="Nombre"><button (click) = "createGroup()">Crear</button>
<p>{{msn}}</p>
------------------------------------------------------------------------------------------------------------------
<h2>Manejar Grupos</h2>
<p>{{msn2}}</p>
<div>
    <select [(ngModel)] = "selectedGroup" (change)="onSelectChange()">
        <option [value]="group.name" *ngFor="let group of groupList">{{group.name}}</option>
    </select>
    <button>Eliminar</button>

    <span>Participante</span>
    <select [(ngModel)] = "selectedParticipant">
        <option [value]="p.username" *ngFor="let p of unasignedList">{{p.shownName}}</option>
    </select>
    <button (click) = "asign()">Asignar</button><button>Retirar</button>
</div>

<p>{{msn3}}</p>
<div>
    <ul>
        <li *ngFor="let p of participantsList">{{p.shownName}}</li>
    </ul>
</div>