.warning { font-size: 60px; text-align: center; margin-top: 300px }

.rol-container { width: 18%; margin-left: 2%; margin-top: 25px; font-size: x-large; text-align: justify; z-index: 1 }
.rol-container img { width: 100%; border: 2px solid white }