<div class="main-container">
  <div *ngIf="isLogged">
    <p>Debes elegir un rol:</p>
    <div>
      <p>Principiante</p>
      <div>
        <button (click) = "onContinue('animaciones-futurologo')">Futurólogo</button>
        <button (click) = "onContinue('animaciones-juglar')">Juglar</button>
      </div>
    </div>

    <div *ngIf="intermedio == true">
      <p>Intermedio</p>
      <div>
        <button (click) = "onContinue('animaciones-laboratorio')">Laboratorio</button>
        <button (click) = "onContinue('animaciones-deliberatorium')">Deliberatorium</button>
      </div>
    </div>

    <div *ngIf="experto == true">
      <p>Experto</p>
      <div>
        <button (click) = "onContinue('animaciones-investigador')">Reportero</button>
        <button (click) = "onContinue('animaciones-interprete')">Interprete</button>
      </div>
    </div>
  </div>

  <div *ngIf="isLogged == false">
    <p>Para continuar con la experiencia, es necesario que inicies sesión</p>
  </div>
</div>