.animacion-continuar { position: absolute; width: 2%; left: 90%; top: 90vh; z-index: 2; font-size: 32px; color: white; border: 2px solid white; border-radius: 15px; background-color: transparent; opacity: 0.5 }
.animacion-continuar:hover{ color: cyan; border-color: cyan; opacity: 1 }
.animacion-continuar:active{ color: black; border-color: black; opacity: 1}