<div class="form-container">
    <label>Usuario</label><input class="main-text" [(ngModel)]="username" type="text">
    <label>Nombre</label><input class="main-text" [(ngModel)]="shownName" type="text">
    <label>Clave</label><input class="main-text" [(ngModel)]="password" type="password">
    <label>Confirmar Clave</label><input class="main-text" [(ngModel)]="confirm" type="password">
</div>
<div class="option-container">
    <p>{{msn}}</p>
    <input type="button" (click) = "register()" value="Registrarse" class="main-button">
</div>