.vidente-container { background-image: url("../../assets/static/oraculo/fondo-oraculo.jpg"); width: 100%; height: auto }
.vidente-reto { text-align: center; font-size: x-large; margin-top: 130px }

.vidente-oraculo { display: block; width: 25%; margin-top: 10px; margin-left: 38% }
.vidente-oraculo:hover { border: 2px solid white }
.vidente-oraculo:active { border: 2px solid cyan }

.vidente-opciones { margin-top: 120px; margin-left: 24% }
.vidente-opciones button { font-size: larger; color: white; border: 2px solid white; border-radius: 15px; background-color: transparent; margin-left: 5%; margin-right: 5% }
.vidente-opciones button:hover{ color: cyan; border-color: cyan }
.vidente-opciones button:active{ color: black; border-color: black }