<div class='header'>
  <button class="main-button home" (click)="goHome()">Inicio</button>
  
  <span class="header-nav">
    <a routerLink ="/creditos">Creditos</a>
    <a routerLink ="/instrucciones">Instrucciones</a>
  </span>

  <span class="header-login" *ngIf="isLogged()==false">
    <input [(ngModel)]="username" type="text"  class="header-form" placeholder="Usuario">
    <input [(ngModel)]="password" type="password"  class="header-form" placeholder="Contraseña">
    <button class="main-button header-go" (click)="login()">></button>
  </span>

  <span *ngIf="isLogged()" class="header-data">
    <span class='header-name'>
      <span class="header-info">{{getShownName()}}</span>
      <span class="header-info">Rol: {{getCurrentRol()}}</span>
      <span class="header-info">Nivel: {{getLevel()}}</span>
    </span>

    <span class="header-options">
      <a routerLink ="/logros" class="header-option"><img src="../assets/static/iconos/logros.png"></a>
      <a routerLink="/ajustes" class="header-option"><img src="../assets/static/iconos/config.png"></a> 
      <img class="header-close" (click)="logout()" src="../assets/static/iconos/cerrar.png">
    </span>
  </span>
</div>

<div class="main-container"> 
  <router-outlet></router-outlet>
</div>