.header {width: 100%; margin: 0px; height: 60px; padding: 3px; display: grid; grid-template-columns: 20% auto auto; background-image: url("../assets/static/barra_superior.png"); position: -webkit-sticky; position: sticky; top: 0; z-index: 3 }

.home { width: 50%; margin: auto; font-size: large }

.header-nav { display: grid; grid-template-columns: 50% 50% }
.header-nav a { margin: auto }
.header-nav a:link { font-size: x-large; font-style: bold; color:white; text-decoration: none }
.header-nav a:visited { font-size: x-large; font-style: bold; color:white; text-decoration: none }
.header-nav a:hover { color: cyan }

.header-login { display: grid; grid-template-columns: 40% 40% auto }
.header-go { width: 20%; height: 50%; margin-top: 10%;} 
.header-form { width: 70%; height: 70%; margin-top: 2%; background-color: rgba(41, 171, 226, 0.15); color: white; font-size: large; border: 0 }
.header-form::placeholder { color: white; opacity: 0.8; font-size: large; padding-left: 3px }

.header-data{ display: grid; grid-template-columns: 60% auto }
.header-name { width: 100%; display: grid; grid-template-columns: auto auto auto }
.header-info { color: white; margin: auto; font-size: x-large }
.header-options { width: 100%; display: grid; grid-template-columns: auto auto auto}
.header-option { width: 25%; margin: auto }
.header-option img { width: 100% }
.header-close { width: 25%; margin: auto; cursor: pointer }


