<div class='header'>
  <button class="main-button home" (click)="goHome()">Inicio</button>
 
  <input *ngIf="isLogged()==false" [(ngModel)]="username" type="text"  class="w3-bar-item" placeholder="Correo">
  <input *ngIf="isLogged()==false" [(ngModel)]="password" type="password"  class="w3-bar-item" placeholder="Contraseña">
  <input *ngIf="isLogged()==false" type="button" class="w3-bar-item w3-button" value="Iniciar Sesión" (click)="login()">

  <span *ngIf="isLogged()" class="w3-bar-item">
    <span >Bienvenido {{getShownName()}}</span>
    <span>Rol: {{getCurrentRol()}}</span>
    <span>Nivel: {{getLevel()}}</span>
    <span><a routerLink ="/logros" class="w3-bar-item w3-button">Logros</a></span>
    <a routerLink="/ajustes">Ajustes</a> 
    <input type="button" class="w3-bar-item w3-button" value="Salir" (click)="logout()">
  </span>

  <a routerLink ="/creditos" class="w3-bar-item w3-button">Creditos</a>
  <a routerLink ="/instrucciones" class="w3-bar-item w3-button">Instrucciones</a>
</div>

<router-outlet></router-outlet>