.header {width: 100%; margin: 0px; height: 60px; padding: 3px; background-image: url("../assets/static/barra_superior.png"); position: -webkit-sticky; position: sticky; top: 0; z-index: 3 }

.home { width: 5%; height: auto; margin-left: 2%; margin-right: 10%; margin-top: 25px; font-size: large }

.header-form { width: 10%; height: 50%; margin-right: 1%; margin-top: 25px; padding-left: 5px; background-color: rgba(41, 171, 226, 0.15); color: white; font-size: large; border: 0 }
.header-form::placeholder { color: white; opacity: 0.8; font-size: small }

.header-option { color: white; margin-left: 2%; margin-right: 2% }
.header-option:link { font-size: x-large; font-style: bold; color:white; text-decoration: none }
.header-option:visited { font-size: x-large; font-style: bold; color:white; text-decoration: none }
.header-option:hover { color: cyan }

.header-name { color: white; margin-left: 2%; margin-right: 2%; font-size: x-large; font-style: bold }

.header-info { color: white; margin-left: 3%; margin-right: 3%; font-size: x-large }

.header-nav { margin-left: 13% }