<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects"></div>
  
    <div class="w3-row-padding">
      
      <div class="w3-col l2 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-black w3-padding"><a routerLink="/remediaciones">Obra Remediada</a></div>
        </div>
      </div>
  
      <div class="w3-col l2 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-black w3-padding"><a routerLink="/expansiones">Obra Expandida</a></div>
        </div>
      </div>
  
      <div class="w3-col l2 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-black w3-padding"><a routerLink="/interacciones">Interacciones</a></div>
        </div>
      </div>
  
      <div class="w3-col l2 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-black w3-padding"><a routerLink="/arqueologia">Arqueología Digital</a></div>
        </div>
      </div>
      
    </div>
</div>