<div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Obra Expandida</h3>
    <p></p>
</div>

<div class="w3-content w3-padding" style="max-width:1564px">

    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects"></div>
  
    <div class="w3-row-padding">
      
      <div class="w3-col l2 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-black w3-padding"><a routerLink="/expansiones/juego">Juego</a></div>
        </div>
      </div>
  
      <div class="w3-col l2 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-black w3-padding"><a routerLink="/expansiones/narratones">Narratones</a></div>
        </div>
      </div>
  
      <div class="w3-col l2 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-black w3-padding"><a routerLink="/expansiones/debates">Debates</a></div>
        </div>
      </div>
    </div>
</div>
  
<router-outlet></router-outlet>